@media (min-width: 1025px) {

    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-size: 14px;
        
    }

    .h-custom {
        height: 100vh !important;
    }

    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    header {
        display: flex;
        padding: 10px;
        background-color: darkgreen;
    }

    header h1 {
        font-weight:200;
        letter-spacing:2px;
        color:black;
    }

    h1 {
        font-size: calc(1.325rem + 1.5vh);
    }

    .gradient-custom-2 {
        background: #a1c4fd;
    
        background: -webkit-linear-gradient(to right, rgb(4, 255, 130), rgba(194, 233, 251, 1));
    
        background: linear-gradient(to right, rgb(0, 250, 121), rgb(194, 251, 224))
    }
    
    .bg-indigo {
        background-color: #00b881;
    }